  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brown: #6a4034;
    --dark-brown: #40251f;
    --cream: #f8f5f0;
    --white: #ffffff;
}

body {
    font-family: "DM Sans", sans-serif;
    color: var(--white);
}

.hero {
    min-height: 100vh;
    position: relative;
    background:
        linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.78) 0%,
            rgba(0, 0, 0, 0.65) 42%,
            rgba(0, 0, 0, 0.28) 100%
        ),
        url("img-1.png") center center / cover no-repeat;
}

.top-bar {
    height: 50px;
    padding: 0 13%;
    background: #5a352b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 9px;
}

.top-left {
    display: flex;
    align-items: center;
    gap: 6px;
}

.top-left i {
    font-size: 16px;
}
.top-left span{
    font-size: 12px;;
}
.social-icons {
    display: flex;
    align-items: center;
    gap: 15px;

}
.social-icons i{
    font-size: 16px;
}

.social-icons a,
.top-right a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.social-icons a:hover,
.top-right a:hover {
    color: #d5a48d;
}

.top-right {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 17px;
}
.top-right i{
    font-size: 14px;
}
.login-top {
    height: 100%;
    padding: 0 24px;
    display: flex;
    align-items: center;
    background: #3d241e;
    font-size: 14px;
}

.navbar {
    height: 67px;
    padding: 0 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.logo {
    color: white;
    text-decoration: none;
    font-family: "Playfair Display", serif;
    font-size: 23px;
    font-weight: 600;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.logo > span:last-child {
    color: #c18c70;
}

.logo-icon {
    color: var(--brown);
    font-size: 20px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 28px;
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-family: "Playfair Display", serif;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
    color: #c99378;
}

.nav-contact {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Playfair Display", serif;
    font-size: 12px;
    white-space: nowrap;
}

.nav-contact i {
    font-size: 16px;
}
.nav-contact span{
    font-size: 16px;
    font-family: sans-serif;
}
.menu-btn {
    display: none;
    border: none;
    background: transparent;
    color: white;
    font-size: 22px;
    cursor: pointer;
}
